/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion1 {
	
	background:#E1E1E1;
	width: 320px;
	border:4px solid #333 ;
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
	-webkit-border-radius:20px;

}
#blink
{
	text-decoration:blink;
	color:#9d1c1c;
}

/* accordion header */
#accordion1 h2 {
	background-color:#000000;
	margin:0;
	padding:5px 15px;
	font-size:20px;
	color:#FFFFFF;
	font-weight:normal;
	border:2px solid #fff;
	cursor:pointer;	
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
	-webkit-border-radius:20px;
}

/* currently active header */
#accordion1 h2.current {
	cursor:default;
	background-color:#9D1C1C;
}

/* accordion pane */
#accordion1 .pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	height:390px;
	padding:15px;
	color:#00000;
	font-size:12px;
	-moz-border-radius:40px;
	-khtml-border-radius:40px;
	-webkit-border-radius:40px;;
}

/* a title inside pane */
#accordion1 .pane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:20px;
	color:#999;
}
